@{
    Layout = "_Layout";
}
<script src="~/js/test.js"></script>
<button type="button" name="random-number-button">Get Random Number</button>
<button type="button" name="heck-button">Heck this webpage</button>

<ul id="heckdisplay">

</ul>
